ol, ul {
  padding-left: 30px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}


.game {
  display: flex;
  flex-direction: row;
  display: flex;
align-items: center;
justify-content: center;
}
.game-info {
  margin-left: 20px;
}

#gameblock
{
width:100%;
height:800px;
background-color:#581845;
}


#result
{
  position: absolute;
  left: 0px;
  width: 100%;
  backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px);
  font-family: 'Press Start 2P', cursive;
  
  font-size: 60px;
}

#side
{
  height: 0px;
  border: none;
   background:none;
}

.notie-container {
  margin-top: 46.500px;
}

#history
{
  height: 800px;
}

#historyTable
{
  background-color: lightblue;
  height: 400px;
  width: 45%;
  position: absolute;
  left: 5%;
  overflow-y: scroll;
}

#history2
{
  width: 40%;
  position: absolute;
  right: 5%;
  top: 2150px;
  right: 5%;
}

#history3
{
  width: 40%;
  position: absolute;
  right: 5%;
}


#update
{
  position: absolute;
  right: 50px;
  top:2380px;
    width: 200px;
    height: 50px;

    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
}

#update:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
#update:active {
    color: #000
}
#update:active:after {
    background: transparent;
}
#update:hover:before {
    opacity: 1;
}
#update:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* ---------- */
#myCheck {
      box-sizing: border-box;
      -webkit-appearance: none;
      position: relative;
      display: block;
      width: 155px;
      height: 75px;
      border: 5px solid #f7f7f5;
      border-radius: 17px;
      cursor: pointer;
      background: white;
    }

    #myCheck:after,
    #myCheck:before {
      box-sizing: border-box;
      position: absolute;
      left: 5px;
      top: 5px;
      width: 55px;
      height: 55px;
      border: 5px solid;
      border-radius: 12px;
      text-align: center;
      line-height: 42px;
      font-size: 32px;
      transition: all 0.3s ease-out;
    }

    #myCheck:before {
      content: "❌";
      color: #d93816;
      border-color: #ff6645;
      background: #ffddcc;
    }

    #myCheck:after {
      left: auto;
      right: 5px;
      content: "⭕";
      border-color: blue;
      color: blue;
      background: #ccffbb;
      opacity: 0.4;
    }

    #myCheck:checked:after {
      opacity: 1;
    }

    #myCheck:checked:before {
      opacity: 0.4;
    }
/* --------------------------------------------------- */
.square3 {
  background: #fff; border: 1px solid #999;
  float: left; font-weight: bold;
  line-height: 34px; margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  font-size: 150px;
  height: 150px;
  width: 150px;
}

.square4 {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 112.5px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 112.5px;
  width: 112.5px;
}

.square5 {
  background: #fff;border: 1px solid #999;float: left;font-weight: bold;
  line-height: 34px;margin-right: -1px;margin-top: -1px;padding: 0;text-align: center;
  height: 90px;font-size: 90px;width: 90px;
}
.square6 {
  background: #fff;border: 1px solid #999;float: left;font-weight: bold;
  line-height: 34px;margin-right: -1px;margin-top: -1px;padding: 0;text-align: center;
  height: 75px;font-size: 75px;width: 75px;
}
.square7 {
  background: #fff;border: 1px solid #999;float: left;font-weight: bold;
  line-height: 34px;margin-right: -1px;margin-top: -1px;padding: 0;text-align: center;
  height: 64.28px;font-size: 64.28px;width: 64.28px;
}
.square8 {
  background: #fff;border: 1px solid #999;float: left;font-weight: bold;
  line-height: 34px;margin-right: -1px;margin-top: -1px;padding: 0;text-align: center;
  height: 56.25px;font-size: 56.25px;width: 56.25px;
}
.square9 {
  background: #fff;border: 1px solid #999;float: left;font-weight: bold;
  line-height: 34px;margin-right: -1px;margin-top: -1px;padding: 0;text-align: center;
  height: 50px;font-size: 50px;width: 50px;
}
.square10 {
  background: #fff;border: 1px solid #999;float: left;font-weight: bold;
  line-height: 34px;margin-right: -1px;margin-top: -1px;padding: 0;text-align: center;
  height: 45px;font-size: 45px;width: 45px;
}
.square11 {
  background: #fff;border: 1px solid #999;float: left;font-weight: bold;
  line-height: 34px;margin-right: -1px;margin-top: -1px;padding: 0;text-align: center;
  height: 40.9px;font-size: 40.9px;width: 40.9px;
}
.square12 {
  background: #fff;border: 1px solid #999;float: left;font-weight: bold;
  line-height: 34px;margin-right: -1px;margin-top: -1px;padding: 0;text-align: center;
  height: 37.5px;font-size: 37.5px;width: 37.5px;
}


/* ------------------ */
.btn-group
{
  margin: auto;
  width: 50%;

}



.button-49,
.button-49:after {
  width: 100px;
  height: 56px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 100px;
    height: 46px;
    line-height: 48px;
    margin: 5px;
      font-family: 'Press Start 2P', cursive;
        font-size: 9px;


  }
}

.button-49:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #00e6f6;
  transform: translateY(4px);
}

/* --------------------------- */

h3
{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

h1
{
  font-family: 'Press Start 2P', cursive;
  font-size: 35px;
}

